COPYING
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
libpam-superuserauth-0.1.tar.bz2
libpam-superuserauth-0.1.tar.gz
man/Makefile
man/Makefile.in
missing
src/.deps/
src/Makefile
src/Makefile.in
src/pam_superuserauth.so
src/pam_superuserauth_so-pam_superuserauth.o
stamp-h1
